.map-container {
    width: 100%;
    height: 100vh; /* Full-screen height */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .full-width-map {
    width: 100%;
    height: 100%;
    border: none;
  }
  